{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container d-flex align-items-center justify-content-center" style="height: 90vh;">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3>Admin Sign In</h3>
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}

                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="username"/>
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="password"/>
                    </div>

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on" >
                        <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>

                    <button type="submit" id="_submit" name="_submit" class="btn">
                        {{ 'security.login.submit'|trans }}
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>